# {{ ansible_managed }}

Port {{ ssh.port }}
AllowUsers {{ user.name }}
Protocol 2
PermitRootLogin no
PasswordAuthentication yes
X11Forwarding no
PrintMotd no
PrintLastLog yes
LoginGraceTime 30
ChallengeResponseAuthentication no
PubkeyAuthentication yes
Subsystem sftp internal-sftp
KexAlgorithms -ecdh*,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
MACs -umac-64*,hmac-sha1*,hmac-sha2-256,hmac-sha2-512,umac-128@openssh.com
